@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  outline: 0;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

html {
  font-size: 62.5%;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
}

body:has(dialog[open]) {
  overflow: hidden;
}
